#wrapper {
  position: fixed;
  top: 0.2px;
  left: 0;
  right: 0;
  bottom: 0.2px;
  overflow-x: hidden; /* or any other value */
  overflow-y: auto; /* or any other value */
}

body {
  background: red;
}
